@page
@model Ger_Garage.Controllers.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].VehicleLicense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].VehicleEngine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleLicense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleEngine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
